<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353403249955-80b395tg0vlncegmid4ed91e5v1d25pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353403249955-80b395tg0vlncegmid4ed91e5v1d25pd</string>
	<key>API_KEY</key>
	<string>AIzaSyAdKSL73nGp5BkCPMHrBnZSvm9v-l6eiHk</string>
	<key>GCM_SENDER_ID</key>
	<string>353403249955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistapp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-62df4</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-62df4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353403249955:ios:21c6aac0a6e01250c59896</string>
</dict>
</plist>